# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.idea

### IntelliJ IDEA ###
logs
.idea
*.iws
*.iml
*.ipr
log.*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
paascloud-common/paascloud-common-base/target/apidocs/
paascloud-common/paascloud-common-base/target/classes/.gitkeep
paascloud-common/paascloud-common-base/target/generated-sources/
paascloud-common/paascloud-common-base/target/javadoc-bundle-options/
paascloud-common/paascloud-common-base/target/maven-archiver/
paascloud-common/paascloud-common-base/target/site/
paascloud-common/paascloud-common-config/target/classes/META-INF/
paascloud-common/paascloud-common-config/target/generated-sources/
paascloud-common/paascloud-common-config/target/maven-archiver/
paascloud-common/paascloud-common-core/target/classes/META-INF/
paascloud-common/paascloud-common-core/target/generated-sources/
paascloud-common/paascloud-common-core/target/maven-archiver/
paascloud-common/paascloud-common-util/target/apidocs/
paascloud-common/paascloud-common-util/target/generated-sources/
paascloud-common/paascloud-common-util/target/javadoc-bundle-options/
paascloud-common/paascloud-common-util/target/maven-archiver/
paascloud-common/paascloud-common-util/target/site/
paascloud-common/paascloud-common-zk/target/apidocs/
paascloud-common/paascloud-common-zk/target/generated-sources/
paascloud-common/paascloud-common-zk/target/javadoc-bundle-options/
paascloud-common/paascloud-common-zk/target/maven-archiver/
paascloud-common/paascloud-common-zk/target/site/
paascloud-common/paascloud-security-app/target/generated-sources/
paascloud-common/paascloud-security-app/target/maven-archiver/
paascloud-common/paascloud-security-core/target/classes/META-INF/
paascloud-common/paascloud-security-core/target/generated-sources/
paascloud-common/paascloud-security-core/target/maven-archiver/
paascloud-common/paascloud-security-feign/target/apidocs/
paascloud-common/paascloud-security-feign/target/generated-sources/
paascloud-common/paascloud-security-feign/target/javadoc-bundle-options/
paascloud-common/paascloud-security-feign/target/maven-archiver/
paascloud-common/paascloud-security-feign/target/site/
paascloud-discovery/target/classes/META-INF/
paascloud-discovery/target/classes/application.yml
paascloud-discovery/target/classes/banner.txt
paascloud-discovery/target/classes/bootstrap.yml
paascloud-discovery/target/classes/logback-spring.xml
paascloud-discovery/target/classes/server.jks
paascloud-discovery/target/generated-sources/
paascloud-discovery/target/maven-archiver/
paascloud-discovery/target/maven-status/
paascloud-discovery/target/paascloud-discovery.jar.original
paascloud-eureka/target/classes/application.yml
paascloud-eureka/target/classes/banner.txt
paascloud-eureka/target/classes/bootstrap.yml
paascloud-eureka/target/classes/logback-spring.xml
paascloud-eureka/target/generated-sources/
paascloud-eureka/target/maven-archiver/
paascloud-eureka/target/paascloud-eureka.jar.original
paascloud-generator/paascloud-generator-mdc/target/classes/config.properties
paascloud-generator/paascloud-generator-mdc/target/classes/generator/
paascloud-generator/paascloud-generator-mdc/target/generated-sources/
paascloud-generator/paascloud-generator-mdc/target/maven-archiver/
paascloud-generator/paascloud-generator-omc/target/classes/config.properties
paascloud-generator/paascloud-generator-omc/target/classes/generator/
paascloud-generator/paascloud-generator-omc/target/generated-sources/
paascloud-generator/paascloud-generator-omc/target/maven-archiver/
paascloud-generator/paascloud-generator-opc/target/classes/config.properties
paascloud-generator/paascloud-generator-opc/target/classes/generator/
paascloud-generator/paascloud-generator-opc/target/generated-sources/
paascloud-generator/paascloud-generator-opc/target/maven-archiver/
paascloud-generator/paascloud-generator-tpc/target/classes/config.properties
paascloud-generator/paascloud-generator-tpc/target/classes/generator/
paascloud-generator/paascloud-generator-tpc/target/generated-sources/
paascloud-generator/paascloud-generator-tpc/target/maven-archiver/
paascloud-generator/paascloud-generator-uac/target/classes/config.properties
paascloud-generator/paascloud-generator-uac/target/classes/generator/
paascloud-generator/paascloud-generator-uac/target/generated-sources/
paascloud-generator/paascloud-generator-uac/target/maven-archiver/
paascloud-monitor/target/classes/META-INF/
paascloud-monitor/target/classes/application.yml
paascloud-monitor/target/classes/banner.txt
paascloud-monitor/target/classes/bootstrap.yml
paascloud-monitor/target/classes/logback-spring.xml
paascloud-monitor/target/generated-sources/
paascloud-monitor/target/maven-archiver/
paascloud-monitor/target/paascloud-monitor.jar.original
paascloud-provider-api/paascloud-provider-omc-api/target/apidocs/
paascloud-provider-api/paascloud-provider-omc-api/target/generated-sources/
paascloud-provider-api/paascloud-provider-omc-api/target/javadoc-bundle-options/
paascloud-provider-api/paascloud-provider-omc-api/target/maven-archiver/
paascloud-provider-api/paascloud-provider-omc-api/target/maven-status/
paascloud-provider-api/paascloud-provider-opc-api/target/apidocs/
paascloud-provider-api/paascloud-provider-opc-api/target/generated-sources/
paascloud-provider-api/paascloud-provider-opc-api/target/javadoc-bundle-options/
paascloud-provider-api/paascloud-provider-opc-api/target/maven-archiver/
paascloud-provider-api/paascloud-provider-opc-api/target/maven-status/
paascloud-provider-api/paascloud-provider-sdk-api/target/apidocs/
paascloud-provider-api/paascloud-provider-sdk-api/target/classes/META-INF/
paascloud-provider-api/paascloud-provider-sdk-api/target/classes/sdk/
paascloud-provider-api/paascloud-provider-sdk-api/target/generated-sources/
paascloud-provider-api/paascloud-provider-sdk-api/target/invoker/
paascloud-provider-api/paascloud-provider-sdk-api/target/javadoc-bundle-options/
paascloud-provider-api/paascloud-provider-sdk-api/target/maven-archiver/
paascloud-provider-api/paascloud-provider-sdk-api/target/maven-status/
paascloud-provider-api/paascloud-provider-tpc-api/target/apidocs/
paascloud-provider-api/paascloud-provider-tpc-api/target/generated-sources/
paascloud-provider-api/paascloud-provider-tpc-api/target/javadoc-bundle-options/
paascloud-provider-api/paascloud-provider-tpc-api/target/maven-archiver/
paascloud-provider-api/paascloud-provider-tpc-api/target/maven-status/
paascloud-provider-api/paascloud-provider-uac-api/target/apidocs/
paascloud-provider-api/paascloud-provider-uac-api/target/generated-sources/
paascloud-provider-api/paascloud-provider-uac-api/target/invoker/
paascloud-provider-api/paascloud-provider-uac-api/target/javadoc-bundle-options/
paascloud-provider-api/paascloud-provider-uac-api/target/maven-archiver/
paascloud-provider-api/paascloud-provider-uac-api/target/maven-status/
paascloud-provider/paascloud-provider-mdc/target/classes/META-INF/
paascloud
-provider/paascloud-provider-mdc/target/classes/ValidationMessages.properties
paascloud-provider/paascloud-provider-mdc/target/classes/application.yml
paascloud-provider/paascloud-provider-mdc/target/classes/banner.txt
paascloud-provider/paascloud-provider-mdc/target/classes/bootstrap.yml
paascloud-provider/paascloud-provider-mdc/target/classes/conf/
paascloud-provider/paascloud-provider-mdc/target/classes/liquibase/
paascloud-provider/paascloud-provider-mdc/target/classes/logback-spring.xml
paascloud-provider/paascloud-provider-mdc/target/classes/mapper/
paascloud-provider/paascloud-provider-mdc/target/generated-sources/
paascloud-provider/paascloud-provider-mdc/target/maven-archiver/
paascloud-provider/paascloud-provider-mdc/target/paascloud-provider-mdc.jar.original
paascloud-provider/paascloud-provider-omc/target/classes/META-INF/
paascloud-provider/paascloud-provider-omc/target/classes/ValidationMessages.properties
paascloud-provider/paascloud-provider-omc/target/classes/application.yml
paascloud-provider/paascloud-provider-omc/target/classes/banner.txt
paascloud-provider/paascloud-provider-omc/target/classes/bootstrap.yml
paascloud-provider/paascloud-provider-omc/target/classes/conf/
paascloud-provider/paascloud-provider-omc/target/classes/liquibase/
paascloud-provider/paascloud-provider-omc/target/classes/logback-spring.xml
paascloud-provider/paascloud-provider-omc/target/classes/mapper/
paascloud-provider/paascloud-provider-omc/target/classes/zfbinfo.properties
paascloud-provider/paascloud-provider-omc/target/generated-sources/
paascloud-provider/paascloud-provider-omc/target/maven-archiver/
paascloud-provider/paascloud-provider-omc/target/paascloud-provider-omc.jar.original
paascloud-provider/paascloud-provider-opc/target/classes/META-INF/
paascloud-provider/paascloud-provider-opc/target/classes/ValidationMessages.properties
paascloud-provider/paascloud-provider-opc/target/classes/application.yml
paascloud-provider/paascloud-provider-opc/target/classes/banner.txt
paascloud-provider/paascloud-provider-opc/target/classes/bootstrap.yml
paascloud-provider/paascloud-provider-opc/target/classes/conf/
paascloud-provider/paascloud-provider-opc/target/classes/liquibase/
paascloud-provider/paascloud-provider-opc/target/classes/logback-spring.xml
paascloud-provider/paascloud-provider-opc/target/classes/mapper/
paascloud-provider/paascloud-provider-opc/target/classes/templates/
paascloud-provider/paascloud-provider-opc/target/generated-sources/
paascloud-provider/paascloud-provider-opc/target/maven-archiver/
paascloud-provider/paascloud-provider-opc/target/paascloud-provider-opc.jar.original
paascloud-provider/paascloud-provider-tpc/target/classes/META-INF/
paascloud-provider/paascloud-provider-tpc/target/classes/ValidationMessages.properties
paascloud-provider/paascloud-provider-tpc/target/classes/application.yml
paascloud-provider/paascloud-provider-tpc/target/classes/banner.txt
paascloud-provider/paascloud-provider-tpc/target/classes/bootstrap.yml
paascloud-provider/paascloud-provider-tpc/target/classes/conf/
paascloud-provider/paascloud-provider-tpc/target/classes/liquibase/
paascloud-provider/paascloud-provider-tpc/target/classes/logback-spring.xml
paascloud-provider/paascloud-provider-tpc/target/classes/mapper/
paascloud-provider/paascloud-provider-tpc/target/generated-sources/
paascloud-provider/paascloud-provider-tpc/target/maven-archiver/
paascloud-provider/paascloud-provider-tpc/target/paascloud-provider-tpc.jar.original
paascloud-provider/paascloud-provider-uac/target/classes/META-INF/
paascloud-provider/paascloud-provider-uac/target/classes/ValidationMessages.properties
paascloud-provider/paascloud-provider-uac/target/classes/application.yml
paascloud-provider/paascloud-provider-uac/target/classes/banner.txt
paascloud-provider/paascloud-provider-uac/target/classes/bootstrap.yml
paascloud-provider/paascloud-provider-uac/target/classes/conf/
paascloud-provider/paascloud-provider-uac/target/classes/liquibase/
paascloud-provider/paascloud-provider-uac/target/classes/logback-spring.xml
paascloud-provider/paascloud-provider-uac/target/classes/mapper/
paascloud-provider/paascloud-provider-uac/target/classes/org/
paascloud-provider/paascloud-provider-uac/target/classes/static/
paascloud-provider/paascloud-provider-uac/target/classes/templates/
paascloud-provider/paascloud-provider-uac/target/generated-sources/
paascloud-provider/paascloud-provider-uac/target/maven-archiver/
paascloud-provider/paascloud-provider-uac/target/paascloud-provider-uac.jar.original
paascloud-provider/target/
paascloud-zipkin/target/classes/META-INF/
paascloud-zipkin/target/classes/application.yml
paascloud-zipkin/target/classes/banner.txt
paascloud-zipkin/target/classes/bootstrap.yml
paascloud-zipkin/target/classes/logback-spring.xml
paascloud-zipkin/target/classes/mysql.sql
paascloud-zipkin/target/generated-sources/
paascloud-zipkin/target/maven-archiver/
paascloud-zipkin/target/paascloud-zipkin.jar.original
paascloud-provider/paascloud-provider-mdc/target/**